<div class="reports-list-page">
  <section class="section">
    <div class="row">
      <div class="col">
        <h1 class="title mb-5 ">Список отчётов</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#" class="btn btn-primary btn-lg">Создать отчёт</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Название отчёта</th>
              <th scope="col">Начало периода</th>
              <th scope="col">Окончание периода</th>
              <th scope="col">Добавил отчёт</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Дата изменения</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Тестовый отчёт</td>
              <td>2020-01-01</td>
              <td>2020-12-31</td>
              <td>Не указан</td>
              <td>ср, 03 июн. 2020,16:08</td>
              <td>Не изменялся</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Тестовый отчёт</td>
              <td>2020-01-01</td>
              <td>2020-12-31</td>
              <td>Не указан</td>
              <td>ср, 03 июн. 2020,16:08</td>
              <td>Не изменялся</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Тестовый отчёт</td>
              <td>2020-01-01</td>
              <td>2020-12-31</td>
              <td>Не указан</td>
              <td>ср, 03 июн. 2020,16:08</td>
              <td>Не изменялся</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Тестовый отчёт</td>
              <td>2020-01-01</td>
              <td>2020-12-31</td>
              <td>Не указан</td>
              <td>ср, 03 июн. 2020,16:08</td>
              <td>Не изменялся</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <nav aria-label="Список отчётов">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Предидущая</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Следующая</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</div>