<div class="calendar-page">
  <section class="section">
    <div class="row">
      <div class="col">
        <h1 class="title mb-5 ">Календарь</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4 date-filter">
        <input class="date-range" type="text" name="daterange" value="01/01/2020 - 31/01/2020" /> </div>
      <div class="col-8 d-flex">
        <span class="select-lable">Фильтровать по:</span>
        <div class="select-wrap">
          <label class="custom-select-lable"></label>
          <input class="custom-select" id="input-table-filter" type="text" value="Сотрудники">
          <em class="fa fa-chevron-down"></em>
          <div class="select-menu-wrap d-none" id="filter-menu">
            <ul class="select-menu">
              <li class="select-menu__item">Сотрудники</li>
              <li class="select-menu__item">Клиенты</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section calendar-page__table">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <section class="example">
              <table class="table table-striped">
                <caption class="table-title">
                  <span class="table-title__first-date"> Август </span>
                  <span class="table-title__last-date"> 2020 </span>
                </caption>
                <thead>
                  <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>20</th>
                    <th>21</th>
                    <th>22</th>
                    <th>23</th>
                    <th>24</th>
                    <th>25</th>
                    <th>26</th>
                    <th>27</th>
                    <th>28</th>
                    <th>29</th>
                    <th>30</th>
                    <th>31</th>
                    <th>Итого</th>
                    <th><em class="fa fa-sun-o"></em></th>
                    <th><em class="fa fa-ambulance"></em></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Иванов</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>168</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Пертов</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>168</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Сидоров</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>168</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <section class="example">
              <table class="table table-striped">
                <caption class="table-title">
                  <span class="table-title__first-date"> 1.08.2020 - </span>
                  <span class="table-title__last-date"> 12.08.2020 </span>
                </caption>
                <thead>
                  <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>Итого</th>
                    <th><em class="fa fa-sun-o"></em></th>
                    <th><em class="fa fa-ambulance"></em></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Иванов</td>
                    <td></td>
                    <td></td>
                    <td><em class="fa fa-ambulance"></em></td>
                    <td><em class="fa fa-ambulance"></em></td>
                    <td><em class="fa fa-ambulance"></em></td>
                    <td><em class="fa fa-ambulance"></em></td>
                    <td><em class="fa fa-ambulance"></em></td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>24</td>
                    <td>40</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Петров</td>
                    <td></td>
                    <td></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td></td>
                    <td></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td><em class="fa fa-sun-o"></em></td>
                    <td>0</td>
                    <td>0</td>
                    <td>64</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Сидоров</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>64</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <section class="example">
              <table class="table table-striped">
                <caption class="table-title">
                  <span class="table-title__first-date"> янв-дек </span>
                  <span class="table-title__last-date"> 2020 </span>
                </caption>
                <thead>
                  <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>янв</th>
                    <th>февр</th>
                    <th>март</th>
                    <th>апр</th>
                    <th>май</th>
                    <th>июнь</th>
                    <th>июль</th>
                    <th>авг</th>
                    <th>сент</th>
                    <th>окт</th>
                    <th>нояб</th>
                    <th>дек</th>
                    <th>Итого</th>
                    <th><em class="fa fa-sun-o"></em></th>
                    <th><em class="fa fa-ambulance"></em></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Иванов</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>2016</td>
                    <td>168</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Петров</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>2016</td>
                    <td>84</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Сидоров</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>168</td>
                    <td>2016</td>
                    <td>168</td>
                    <td>80</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <section class="example">
              <table class="table table-striped">
                <caption class="table-title">
                  <span class="table-title__first-date"> 2015 - </span>
                  <span class="table-title__last-date"> 2020 </span>
                </caption>
                <thead>
                  <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>2018</th>
                    <th>2019</th>
                    <th>2020</th>
                    <th>Итого</th>
                    <th><em class="fa fa-sun-o"></em></th>
                    <th><em class="fa fa-ambulance"></em></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Иванов</td>
                    <td>1968</td>
                    <td>2268</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>12116</td>
                    <td>560</td>
                    <td>58</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Петров</td>
                    <td>1968</td>
                    <td>2268</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>12516</td>
                    <td>558</td>
                    <td>35</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Сидоров</td>
                    <td>1968</td>
                    <td>2268</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>2016</td>
                    <td>12116</td>
                    <td>568</td>
                    <td>12</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
