<div class="items-list-page">
  <section class="section">
    <div class="row sameheight-container justify-content-center">
      <div class="col col-800">
        <div class="timer">
          <div class="timer__top-line"><span class="timer__item timer__hours" id="timer__hours">00</span>:<span
              class="timer__item timer__minutes" id="timer__minutes">00</span>:<span class="timer__item timer__seconds"
              id="timer__seconds">00</span></div>
          <div class="timer__progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
          <div class="timer__btn-group">
            <button class="btn btn-secondary btn-lg timer__btn timer__btn-mr" type="button"><i
                class="fa fa-play"></i>Старт</button>
            <button class="btn btn-secondary btn-lg timer__btn timer__btn-mr" type="button"><i
                class="fa fa-stop"></i>Завершить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row sameheight-container justify-content-center">
      <div class="task-wrap fade col-800">
        <div class="row task" id="active-task">
          <div class="col-1 task-col1"><em class="fa fa-plus-square"></em></div>
          <div class="col-10 task-col2">
            <div class="row task-row1">
              <span class="col-8 task__project-key">Очень длинное название задачи, ну прям длиннее некуда</span>
              <span class="col-4 task__project-name">Название проекта, тоже длинное</span>
            </div>
            <div class="row task-row2">
              <p class="col-12 task-card__project-title">Далеко-далеко за словесными горами, в стране гласных и
                согласных живут рыбные тексты.</p>
            </div>
          </div>
          <div class="col1">
            <button class="task__close-btn">
              <em class="fa fa-times"></em>
            </button>
          </div>
        </div>
        <textarea class="task__textarea" name="task-discr" id="task-discr" cols="30" rows="3"
          placeholder="Добавить описание"></textarea>
      </div>
    </div>
    <div class="row sameheight-container justify-content-center">
      <div class="search-dropdown col-800">
        <input class="form-control form-control-lg search-dropdown__input" type="text" name="task-search"
          id="input-task-search" autocomplete="off" placeholder="выбор задачи">
        <div class="dropdown-search fade" id="dropdown-search">
          <div class="dropdown-search__left-col">
            <ul class="dropdown-search__menu">
              <li class="dropdown-search__menu-item"><a class="dropdown-search__menu-link" href="#">
                  <div class="task task-small">
                    <div class="task-col1"><em class="fa fa-plus-square"></em></div>
                    <div class="task-col2">
                      <div class="row task-row1">
                        <span class="col-8 task__project-key">TTR-22</span>
                        <span class="col-4 task__project-name">Project-4</span>
                      </div>
                      <div class="row task-row2">
                        <p class="col-12 task-card__project-title">Внесение правок</p>
                      </div>
                    </div>
                  </div>
                </a></li>
              <li class="dropdown-search__menu-item"><a class="dropdown-search__menu-link" href="#">
                  <div class="task task-small">
                    <div class="task-col1"><em class="fa fa-plus-square"></em></div>
                    <div class="task-col2">
                      <div class="row task-row1">
                        <span class="col-8 task__project-key">Очень длинное название задачи, ну прям длиннее
                          некуда</span>
                        <span class="col-4 task__project-name">Название проекта, тоже длинное</span>
                      </div>
                      <div class="row task-row2">
                        <p class="col-12 task-card__project-title">Далеко-далеко за словесными горами, в стране гласных
                          и согласных живут рыбные тексты.</p>
                      </div>
                    </div>
                  </div>
                </a></li>
              <li class="dropdown-search__menu-item"><a class="dropdown-search__menu-link" href="#">
                  <div class="task task-small">
                    <div class="task-col1"><em class="fa fa-plus-square"></em></div>
                    <div class="task-col2">
                      <div class="row task-row1">
                        <span class="col-8 task__project-key">TTR-22</span>
                        <span class="col-4 task__project-name">Project-4</span>
                      </div>
                      <div class="row task-row2">
                        <p class="col-12 task-card__project-title">Внесение правок</p>
                      </div>
                    </div>
                  </div>
                </a></li>
            </ul>
          </div>
          <div class="dropdown-search__right-col">
            <div class="dropdown-search__filter">
              <h4 class="dropdown-search__filter-title">Фильтровать по проекту</h4>
              <div class="filter-block">
                <ul class="filte-list">
                  <li class="filter-list__item">
                    <label>
                      <input class="checkbox" type="checkbox">
                      <span class="filter-list__text"> project1 </span>
                    </label>
                  </li>
                  <li class="filter-list__item">
                    <label>
                      <input class="checkbox" type="checkbox">
                      <span class="filter-list__text"> project1 </span>
                    </label>
                  </li>
                  <li class="filter-list__item">
                    <label>
                      <input class="checkbox" type="checkbox">
                      <span class="filter-list__text"> project1 </span>
                    </label>
                  </li>
                  <li class="filter-list__item">
                    <label>
                      <input class="checkbox" type="checkbox">
                      <span class="filter-list__text"> project1 </span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
